.lastUpdated {
  margin-top: 0.2rem;
  font-style: italic;
  font-size: smaller;
}

@media (min-width: 997px) {
  .lastUpdated {
    text-align: right;
  }
}

.infoBox {
  background: #5555FF;
  border-radius: 0.75rem;
  padding: 2rem 3rem;
  margin: 5rem 0;
  box-shadow: 0px 27px 58px rgba(0, 0, 0, 0.07), 0px 12.4829px 26.8152px rgba(0, 0, 0, 0.0519173), 0px 7.14244px 15.343px rgba(0, 0, 0, 0.0438747), 0px 4.33541px 9.3131px rgba(0, 0, 0, 0.0377964), 0px 2.61228px 5.61156px rgba(0, 0, 0, 0.0322036), 0px 1.45468px 3.12488px rgba(0, 0, 0, 0.0261253), 0px 0.62565px 1.34399px rgba(0, 0, 0, 0.0180827);
}

.infoBox p {
  color: white;
  margin-bottom: 0.6rem;
  vertical-align: middle;
}

.infoBox p a {
  color: white;
  font-weight: 500;
}

p.infoBoxHeader {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.infoBoxIcon {
  /* font-size: 1.4rem; */
  margin-right: 0.4rem;
}
