@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "Inter";
  src: url("https://rsms.me/inter/inter.css");
}

:root {
  --color-primary: #ff55ff;
  --color-primary-level-1: #ffd4ff;
  --color-primary-level-2: #ff87ff;
  --color-primary-level-6: #663b66;
  --color-secondary: #5555ff;
  --color-secondary-level-1: #e3e3ff;
  --color-secondary-level-2: #bfbffc;
  --color-secondary-level-6: #313166;
  --color-tertiary: #55ffff;
  --color-tertiary-level-1: #d4ffff;
  --color-tertiary-level-2: #a0f2f2;
  --color-tertiary-level-6: #499494;
  --color-positive: #53db53;
  --color-positive-level-1: #e3ffe3;
  --color-positive-level-2: #b5ffb5;
  --color-positive-level-6: #569656;
  --color-caution: #ffc555;
  --color-caution-level-1: #fff6e5;
  --color-caution-level-2: #ffe5b2;
  --color-caution-level-6: #b27805;
  --color-negative: #ff5555;
  --color-negative-level-1: #ffeded;
  --color-negative-level-2: #ff8787;
  --color-negative-level-6: #803d3d;
  --color-foreground: #28333d;
  --color-foreground-level-1: #f6f8fa;
  --color-foreground-level-2: #ebeff3;
  --color-foreground-level-3: #c5d1db;
  --color-foreground-level-4: #a9b9c7;
  --color-foreground-level-5: #90a0af;
  --color-foreground-level-6: #546474;
  --color-background: #ffffff;
  --color-dark-background: #0e171f;
  --font-stack: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: var(--font-stack);
  font-feature-settings: "ss01", "ss02", "cv01";
}

body {
  background: var(--color-foreground-level-1);
  font-family: var(--font-stack);
  color: var(--color-foreground-level-6);
}

p {
  font-family: var(--font-stack);
  color: var(--color-foreground-level-6);
  line-height: 150%;
}

p.small {
  font-size: 0.75rem;
}

a:hover {
  color: #f5f;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  color: var(--color-foreground);
  line-height: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

blockquote {
  display: block;
  background: #e3e3ff;
  border-left: 0.25em solid #5555ff;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer {
  color: var(--color-foreground);
  background: var(--color-foreground-level-1);
  border-bottom: 1px solid var(--color-foreground-level-2);
  height: 3.5rem;
}

code,
pre code,
.hljs {
  background: var(--color-foreground-level-2);
  color: var(--color-foreground-level-6);
  overflow-x: scroll;
}

pre code::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
pre code {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

details:hover {
  cursor: pointer;
}

.button {
  border-radius: 0.5rem;
  height: 2.5rem;
  font-weight: 600;
  text-transform: inherit;
  border: none;
  font-size: 1rem;
}

.navigationSlider .slidingNav ul li a {
  background: var(--color-foreground-level-3);
  border-radius: 0.5rem;
  height: 2.5rem;
  font-weight: 600;
  color: var(--color-foreground);
}

.fixedHeaderContainer header img {
  width: 8rem;
  fill: var(--color-foreground);
}

.fixedHeaderContainer a {
  align-items: flex-end;
  height: 27px;
  margin-top: 0.25rem;
  color: var(--color-foreground);
  font-family: ;
}

.wrapper {
  padding: 0 32px;
}

.mainContainer .wrapper .post .postHeaderTitle {
  margin-bottom: 40px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .navPusher {
    padding-top: 90px;
  }
  .tocActive .onPageNav {
    top: 138px;
  }
  .navigationSlider .slidingNav ul li a {
    border-radius: 0;
  }
  .mainContainer .wrapper .post .postHeaderTitle {
    margin-top: 24px;
  }
  i {
    font-style: normal;
  }
}

.reactNavSearchWrapper input#search_input_react {
  height: 2.5rem;
  background: none;
  border: 1px solid var(--color-foreground-level-3);
  color: var(--color-foreground);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.reactNavSearchWrapper input#search_input_react::placeholder {
  color: var(--color-foreground-level-6);
  opacity: 1;
}

.navSearchWrapper:before {
  border-color: var(--color-foreground-level-6);
}

.navSearchWrapper:after {
  background: var(--color-foreground-level-6);
}

.algolia-docsearch-suggestion--category-header {
  background: var(--color-foreground-level-2) !important;
  color: var(--color-foreground) !important;
  border-radius: 1rem;
}

.algolia-docsearch-suggestion__secondary {
  border: none !important;
}

.algolia-docsearch-suggestion--subcategory-column-text:hover {
  color: var(--color-secondary) !important;
}

.algolia-docsearch-suggestion,
.algolia-docsearch-suggestion--subcategory-column {
  background: var(--color-background) !important;
}

.aa-dropdown-menu {
  background: var(--color-background) !important;
  border: none !important;
  padding: 1rem;
  border-radius: 1rem !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1024px) {
  .aa-suggestions {
    border-radius: 1rem;
    padding: 1rem;
  }
}

.algolia-docsearch-footer {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    background: var(--color-background);
    color: var(--color-foreground);
  }
}

.docsNavContainer .toc .navBreadcrumb {
  background-color: var(--color-foreground-level-1);
  color: var(--color-foreground-level-6);
}
