.details {
  border: 1px solid hsla(240, 100%, 66.7%, 0.7) !important;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
  transition: 0.3s ease-in-out all;
}

.details:hover {
  cursor: pointer;
}

.summaryBold {
  font-weight: bold;
}

.children {
  padding-top: 1rem;
}
