.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
  margin: 2rem 0;
}

.button {
  position: relative;
  grid-column: span 6;
  background: white;
  box-shadow: 24px 20px 68px 0px rgba(0, 0, 0, .25);
  border-radius: 4px 4px 32px 32px;
  padding: 2rem;
<<<<<<< HEAD
=======
}

[data-theme='dark'] .button {
  background: #162029;
>>>>>>> main
}

.button:hover {
  text-decoration: none;
}

.button h3 {
  font-size: 2rem;
}

.ext {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: hsl(240, 100%, 66.7%);
}

.ext svg {
  width: 20px;
  height: 20px;
<<<<<<< HEAD
=======
}

.ext {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: hsl(240, 100%, 66.7%);
}

.ext svg {
  width: 20px;
  height: 20px;
>>>>>>> main
}

.cta {
  display: inline-block;
  position: relative;
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-heading-font-family);
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 8px;
  margin-bottom: 0;
  transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cta a {
  display: block;
  border: none !important;
  padding: 8px 12px;
}

<<<<<<< HEAD
.cta:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 0 #569656;
  
=======
[data-theme='dark'] .cta a {
  color: #28333d;
}

.cta:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 0 #569656;
}

[data-theme='dark'] .cta:hover {
  box-shadow: 0 4px 0 #e3ffe3;
>>>>>>> main
}

.cta a:hover {
  text-decoration: none;
}

@media screen and (max-width: 996px) {
<<<<<<< HEAD
=======
  .grid {
    gap: 2rem 0;
  }

>>>>>>> main
  .button {
    grid-column: span 12;
  }
}
