.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

.grid > div {
  border: 1px solid hsla(240, 100%, 66.7%, 0.7);
  border-radius: 0.5rem;
}

.grid > div:hover {
  border-color: hsl(240, 100%, 66.7%);
  background-color: hsla(240, 100%, 66.7%, 0.1);
}

.grid > div > a {
  display: block;
  padding: 1rem;
  border: 0 !important;
}

.grid > div > a:after {
  content: ' \2192';
}

.grid > div > a:hover {
  border: 0 !important;
  text-decoration: none;
}
