@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../../static/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../../static/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'terminal_grotesque';
  src: url('../../static/terminal-grotesque-webfont.eot');
  src: url('../../static/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../static/terminal-grotesque-webfont.woff2') format('woff2'),
       url('../../static/terminal-grotesque-webfont.woff') format('woff'),
       url('../../static/terminal-grotesque-webfont.ttf') format('truetype'),
       url('../../static/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Fonts */
  --ifm-font-family-base: 'Inter var', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-heading-font-family: 'terminal_grotesque', 'Inter var', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* --ifm-font-color-base: #28333d; */

  /* Links */
  --ifm-link-color: var(--ifm-font-color-base);

  /* Navbar */
  --ifm-navbar-height: 88px;

  /* Spacing */
  --ifm-spacing-horizontal: 2rem;

  /* Code blocks */
  --ifm-code-font-size: 100%;
  --prism-color: #2e2e6b;
  --prism-background-color: #e3e3f3;
  --ifm-pre-background: var(--prism-background-color);
  --ifm-code-background: var(--prism-background-color);
  --ifm-code-border-radius: 0.3rem;
  --ifm-code-padding-vertical: 0.2rem;
  --ifm-code-padding-horizontal: 0.5rem;

  /* Colors */
  --ifm-color-primary: #55f;
  --ifm-color-primary-dark: #3333ff;
  --ifm-color-primary-darker: #2222ff;
  --ifm-color-primary-darkest: #0000ee;
  --ifm-color-primary-light: #7777ff;
  --ifm-color-primary-lighter: #8888ff;
  --ifm-color-primary-lightest: #bbbbff;

  --ifm-color-secondary: #53DB53;

  --ifm-background-color: #EBEFF3; 
  --ifm-navbar-background-color: #EBEFF3;
  --ifm-footer-background-color: #EBEFF3;

  --ifm-menu-color: #2e2e6b;
  --ifm-menu-color-active: #1a1a2c;
  --ifm-menu-color-background-active: #ebecf8;

  /* Fonts */
  --ifm-h1-font-size: 4rem;

  /* Navbar */
  --ifm-navbar-height: 88px;
  --ifm-navbar-padding-vertical: 1rem;
}

html[data-theme='dark'] {
  
  --ifm-color-content: #e3e3e3;

  /* Code blocks */
  --prism-color: #ccf;
  --prism-background-color: #181f28;
  --ifm-code-background: var(--prism-background-color);

  /* Colors */
  --ifm-background-color: #0b131a;
  --ifm-navbar-background-color: #162029; 
  --ifm-footer-background-color: #162029;

  --ifm-menu-color: #ccf;
  --ifm-menu-color-active: #fff;
  --ifm-menu-color-background-active: #121a21;
}

/* Navbar */

.dsla-search-field {
  min-width: 150px;
  background: transparent;
}

.dsla-search-field button {
  background: white;
  /* border: 1px dashed var(--ifm-color-primary); */
  border-radius: 10rem;
  color: var(--ifm-color-primary);
  height: 44px;
}

.aa-Input {
  height: 44px !important;
}

/* Navigation menu */

.menu {
  font-weight: var(--ifm-font-weight-regular);
}

/* Markdown content */

.markdown a {
  border-bottom: 1px solid #c2c3d4;
}

.markdown code {
  border: 0;
  color: var(--prism-color);
}

html[data-theme='dark'] .markdown code {
  color: var(--prism-color);
}

.markdown pre {
  background-color: #e3e3f3 !important;
}

html[data-theme='dark'] .markdown pre {
  background-color: #181f28 !important;
}

summary p {
  margin-bottom: 0;
}
