@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "Inter";
  src: url("https://rsms.me/inter/inter.css");
}

:root {
  /* Fonts */
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* Colors */
  --ifm-color-primary: #5555ff;
  --ifm-color-primary-dark: #3333ff;
  --ifm-color-primary-darker: #2222ff;
  --ifm-color-primary-darkest: #0000ee;
  --ifm-color-primary-light: #7777ff;
  --ifm-color-primary-lighter: #8888ff;
  --ifm-color-primary-lightest: #bbbbff;

  --ifm-background-color: #FFF; 
  --ifm-navbar-background-color: #F8F8F8;
  --ifm-footer-background-color: #F8F8F8;
}

html[data-theme='dark'] {
  --ifm-background-color: #0E171F;
  --ifm-navbar-background-color: #162029; 
  --ifm-footer-background-color: #162029;
}

.dsla-search-field {
  min-width: 150px;
}
